services:
  hadoop-slave1:
    build:
      context: .
    image: kiwenlau/hadoop:1.0
    container_name: hadoop-slave1
    hostname: hadoop-slave1
    networks:
      - hadoop
    tty: true
    stdin_open: true
